<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>
<script>
$(document).ready(function () {
$("#hide").click(function () {
$("p").hide();
});
$("#show").click(function () {
$("p").show();
});
});
</script>
</head>
<body>
<p>
<b>MSC-IT </b><br />
PART-I, UPG COLLEGE<br/>
</p> <button id="hide">Hide</button>
<button id="show">Show</button>
</body>
</html>
